body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: #F1F2F4;
  }
  
  .App {
    text-align: center;
  }
  
  .login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .login-container {
    width: 500px;
    max-width: 90%; 
  }
  
  .login-container h3 {
    margin-bottom: 2rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #BBB;
    border-radius: 10px;
    padding: 0.5rem;
    position: relative;
  }
  
  .input-container:not(:last-child) {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .input-container:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .login-input {
    flex: 1;
    border: none;
    background: none;
    padding: 0.75rem;
    font-size: 1rem;
  }
  
  .login-input:focus {
    outline: none;
  }
  
  .arrow-button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
  }
  
  .arrow-icon {
    width: 24px; 
    height: 24px; 
  }
  
  .login-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 0.8rem;
  }
  
  .login-links a {
    color: #006ACC;
    text-decoration: none;
  }
  
  .login-links a:hover {
    text-decoration: underline;
  }
  
  .signup-link {
    display: inline-block;
    text-align: center;
  }
  
  .signup-link a {
    color: #006ACC;
  }