@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background: white;
    padding: 10px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.popup-title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.popup-close {
    background: none;
    border: none;
    cursor: pointer;
    height: 20px;
}

.popup-close img {
    height: 20px;
}

.popup-body img {
    margin-bottom: 10px;
}

.popup-body {
    padding: 10px 0;
    font-size: 13px;
    color: #54595E;
}

.popup-body p {
    opacity: 0.6;
    line-height: 20px;
    margin-top: -5px;
}

.popup-button {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 300;
    background: #1B32FF;
    color: white;
    margin-bottom: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 350px;
}

.popup-button.cancel {
    background: #ffffff;
    color: #1B32FF;
    border: 1px solid #1B32FF;
}
