body.background-white .app-container {
    background: url('../background/white.svg');
    background-size: contain;
    background-position: center top;
    transition: 0.5s ease;
  }
  
  body.background-start .app-container {
    background: url('../background/white.svg');
    background-size: contain;
    background-position: center top;
    transition: 0.5s ease;
  }
  
  body.background-pause .app-container {
    background: url('../background/yellow.svg');
    background-size: contain;
    background-position: center top;
    transition: 0.5s ease;
  }
  
  body.background-resume .app-container {
    background: url('../background/blue.svg');
    background-size: contain;
    background-position: center top;
    transition: 0.5s ease;
  }
  
  body.background-stop .app-container {
    background: url('../background/red.svg');
    background-size: contain;
    background-position: center top;
    transition: 0.5s ease;
  }
  
  body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 200%;
  }
  
  .section1, .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  
  