
  body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 200%;
    background: url('../background/white.svg');
    background-size: contain;
    background-position: center top;
  }
  
  .section1, .section2, .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  
  