@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Inter:wght@100..900&family=Rammetto+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* 수평 스크롤을 숨깁니다. */
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
    background: url('../background/white.svg');
    background-size: contain;
    background-position: center top;
}

.section1, .section2, .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.button-group {
    display: flex;
    width: 230px;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */

}

.button-group button {
    background: none;
    border: 1px solid #fff;
    width: 9rem;
    height: 3rem;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 0.8rem;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 10px;
    transition: 0.5s ease;
}

.button-group button.stop {
    background-color: #98443B;
    border: none;
}

.timer-container {
    display: flex;
    width: 1000px;
    height: 600px;
    justify-content: space-between;
}

.flip-clock-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-clock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c4c4c;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
}

.flip-number {
    font-size: 6rem;
    color: #eaeaea;
    font-family: "Roboto Mono", monospace;
    font-weight: 800;
}

.flip-colon {
    font-size: 6rem;
    color: #eaeaea;
    margin: 0 10px;
}

.timer-form {
    margin: 20px 0;
    position: relative;
    width: 9rem;
}

.timer-select {
    background: none;
    border: 1px solid #fff;
    width: 180px;
    height: 3rem;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 0.8rem;
    font-family: Pretendard;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 2;}

.timer-select:focus {
    background-color:  #D07000; /* 포커스 시 (옵션 바 열렸을 때) 기본 상태 */
    border: none;
}

.timer-select option {
    background-color: #313131;
    color: #fff;
}

.timer-select::-ms-expand {
    display: none;
}

.select-arrow {
    position: absolute;
    top: 50%;
    left: 155px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    transform: translateY(-50%);
}
