@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Inter:wght@100..900&family=Rammetto+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");


.button-group {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group button {
    background: none;
    border: 1px solid #fff;
    width: 9rem;
    height: 3rem;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 0.8rem;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 10px;
    transition: 0.5s ease; /* 트랜지션 속성 추가 */
}

.button-group button.pause {
    background-color: #A48000;
    border: none;
}

.button-group button.resume {
    background-color: #135E00;
    border: none;

}

.button-group button.stop {
    background-color: #98443B;
    border: none;
}

.button-group pause:hover {
    background-color: #555;
} 


.Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.flip-clock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c4c4c;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
}

.flip-number {
    font-size: 6rem; /* 숫자 크기 수정 */
    color: #eaeaea;
    font-family: "Roboto Mono", monospace;
    font-weight: 800;

}

.flip-colon {
    font-size: 6rem; /* 콜론 크기 수정 */
    color: #eaeaea;
    margin: 0 10px;
}