@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.TextWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.TextWrapper h2 {
    font-size: 23px;
    color: white;
    font-weight: 550;
}

.TextWrapper h3 {
    margin-top: -5px;
    font-size: 13px;
    font-weight: 500;
    color: #777777;
}

.chartWrapper {
    height: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px 30px 20px;
    margin: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.chartWrapper h3 {
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    background: #555;
    border: none;
    height: 10px;
    width: 5px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.tab.active {
    background: #ff9f40;
    width: 20px;
}

.tab:not(.active):hover {
    background: #777;
}

.Wrapper1 {
    display: flex;
    width: 1000px;
    height: 600px;
    justify-content: space-between;
}

.svgWrapper {
    margin-top: 20px;
}

.chart {
    width: 400px;
}


.worked-day {
    background: yellow !important;
    border-radius: 50%;
}