@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
    font-family: Pretendard;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: none; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 60px; /* 헤더 높이 설정 */
}

.left-menu {
    display: flex;
    align-items: center;
}

.logo {
    height: 20px; 
    margin-right: 1rem;
}

.menu {
    list-style: none;
    display: flex;
    margin-left: 20px;
    padding: 0;
}

.menu li {
    margin: 20px;
}

.menu a {
    color: #ffffff; /* 글자색을 좀 더 눈에 잘 띄게 변경 */
    text-decoration: none;
    font-size: 0.7rem;
}

.menu a:hover {
    text-decoration: underline;
}

.right-menu {
    display: flex;
    align-items: center;
}

.icons img {
    width: 24px; 
    height: 24px; 
    margin-left: 1px;
}
